<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>用户信息</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        a{
            color:#fff;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">汽车管理系统</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/query">客人查询 <span class="sr-only">(current)</span></a></li>
                <li><a href="/lease/奥迪">租赁登记</a></li>
                <li><a href="/return">归还统计</a></li>
                <li><a href="#">统计分析</a></li>
                <li class="active"><a href="/category">类别档案</a></li>
                <li><a href="/car">汽车档案</a></li>
                <li><a href="/tuichu" id="tuichu">退出系统</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">
    <div class="btn-group" role="group" aria-label="..." id="btn_group">

        <div type="button" class="btn btn-danger" id="return"><a href="/index">返回</a></div>
    </div>

    <table class="table  table-bordered navbar-default">
        <thead>
        <tr>
            <th></th>
            <th>id</th>
            <th>类别名称</th>
        </tr>
        </thead>
        <tbody id="tbody">
        <%
        for(var i=0;i<result.length;i++){
        %>
        <tr>
            <th><input type="radio" name="check" class="gou" data-id="<%=result[i].id%>"></th>
            <th><%=i+1%></th>
            <th><%=result[i]%></th>

        </tr>

        <%
        }
        %>
        </tbody>
    </table>


</div>

<script src="js/jquery-1.12.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>